<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/course.css" />
    <style>
        #deleteButton:hover{
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
            <li style="float: right; color:aliceblue;color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;"
                id="deleteButton">Delete Courses</li>
        </ul>
    </nav>
    <div class="container box">
        <div class="row">
            <div class="col-md-6 linksArea">
                <div class="input-group mb-3" id="target">
                    <input type="text" class="form-control" placeholder="Enter Link or Topic" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary linkSubmit" type="button">
                            YouTubeLink
                        </button>
                        <button class="btn btn-outline-secondary topicSubmit" type="button">
                            TopicName
                        </button>
                    </div>
                </div>
                <hr />
                <div class="row boxContainerClone">
                    <div class="col-md-3 imageBox">
                        <img src="https://i.ytimg.com/vi/z3-XFI_nXNM/default.jpg" />
                    </div>
                    <div class="col-md-9 textBox">
                        <div class="row textBoxUpper">
                            <div class="col-md-12 form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Python Practice - Interview Question - Fizz Buzz | Mosha" />
                            </div>
                        </div>
                        <div class="row textBoxLower">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-primary">
                                    Add Notes
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-primary">
                                    AddQuestion
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-1 subgroupBox">
              <i class="fas fa-plus-square"></i>
            </div> -->
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row playlistArea">
                    <div class="col-md-12">
                        <p>Youtube playlist Here</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter youtube-playlist link" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary listlinkSubmit" type="button">
                                    Enter
                                </button>
                            </div>
                        </div>
                        <!--                            here we will place the youtube box-->
                        <div class="row youtubeContainer">
                            <div class="col-md-3 imageContainer">
                                <img src="https://i.ytimg.com/vi/z3-XFI_nXNM/default.jpg" />
                            </div>
                            <div class="col-md-9 textContainer">
                                <p>
                                    Python Practice - Interview Question - Fizz Buzz | Mosha
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center createButton">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary">
                            Finish Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="visibility:hidden"
            id="courseName">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Course Details
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="courseTitle" class="col-form-label">Title</label>
                                <input type="text" class="form-control" id="courseTitle" placeholder="CourseTitle" />
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-form-label">Description</label>
                                <textarea class="form-control" id="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" id="storeD">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let getDataId = '<%= id%>';
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="/assets/js/AddPlaylist.js"></script>
    <script src="/assets/js/AddSingleLink.js"></script>
    <script src="/assets/js/AddSubtopic.js"></script>
    <script src="/assets/js/SendingData.js"></script>
    <script src="/assets/js/testing.js"></script>

</body>

</html>